.img {
	height: 100%;
	width: 100%;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    transition: 0.3s;
    
}


.wrapper{
	display: block;
	height: calc(95vw / 2 / 16 * 9 - 10px);
	width: calc(95vw / 2 - 10px);
	max-height:  calc(1000px / 2 / 16 * 9 - 10px);
	margin: 5px;
	max-width: 490px;
}

.main{
	width: 95%;
	max-width: 1000px;
	display: flex;
	margin: auto;
	flex-wrap: wrap;
	
}

.wrapper:hover{
	transform: scale(1.15);
}
body{
	margin: 0;
	background-image: url(../img/img8.jpg);

	background-attachment:  fixed; 
}


